.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 0.7rem;
  width: 100%;
  color: #000;
}

.map {
  width: 100%;
  height: 50vh;
}

.nav-link {
  color: #ff2f00;
  
}

a.link-logo  {
  text-decoration: none;
}
a.link-logo:focus, a.link-logo:hover {
  text-decoration: underline;
  color: #ff2f00;
}


a.drawer-link  {
  text-decoration: none;
  color: "white";
  
  
}
a.drawer-link:focus, a.drawer-link:hover {
  text-decoration: underline;
  color: white;
}

#who-we-are .wave {
  height: 75vh;
  z-index: 5;
  margin: 0;
}

.intro {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  padding-left: 7%;
  padding-right: 5%;
  width: 60%;
}
.wave {
  transform: rotate(180deg);
  left: 0;
}

a.link-home  {
  text-decoration: underline;
  color: #919EAB;
}

a.link-home:focus, a.link-home:hover {
  text-decoration: none;
  
}

a.coffee-smart-contract-1 {
  text-decoration: none;
  color: #0A575C;
}

a.coffee-smart-contract-1:hover, a.coffee-smart-contract-1:focus {
  text-decoration: underline;
  color: #ff2f00;
}

a.coffee-smart-contract-2 {
  text-decoration: none;
  color: #0A575C;

}

a.coffee-smart-contract-2:hover, a.coffee-smart-contract-2:focus {
  text-decoration: underline;
  color:#ff2f00;
}

a.metamask-link {
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none;
  color:#0A575C;

}

a.metamask-link:hover, a.metamask-link:focus {
  text-decoration: underline;
  color: #ff2f00;

}

a.mail-link {
  padding-left: 4px;
  padding-right: 0px;
  text-decoration: none;
  color:#0A575C;

}

a.mail-link:hover, a.mail-link:focus {
  text-decoration: underline;
  color: #ff2f00;

}

#action-btn {
  margin-top: 10px;
  position: relative;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  background: none;
  color: #919EAB;
  border-radius: 5px;
  text-transform: uppercase;
  outline: 0;
  z-index: 1;
}

#action-btn:hover {
  color: #DFE3E8;
}

#action-btn::before {
  content: "";
  /* background abs relative to action-btn */
  position: absolute;
  background: #ff2f00;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

#action-btn:hover::before {
  right: 0;
}

#who-we-are,
#about,
#contact,
#details {
  /* background-color: rgba(0, 0, 0, 0.01); */
  background-color: transparent;
  /* position: relative; */
  width: 100%;
  z-index: 0;
  /* font-family: "Roboto", sans-serif; */
  overflow-x: hidden;
}
/* #home,
#contact {
  color: white;
} */

#about {
  mix-blend-mode: multiply;

}
#about h6 {
  padding: 40px 0px 50px;
  color: #042a2b;

}

#about .about-card {
  background-color: rgba(0, 0, 0, 0.02);
  border: 0.5px solid #ff2f00;
  border-bottom: 4px solid #ff2f00;
  position: relative;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  box-shadow: 0 0 0.1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  transition-property: box-shadow, transform;
}

.about-card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.about-info {
  color: rgb(81, 84, 88);
}

.spanInfo {
  color: #ff2f00;
  padding-left: 5px;
  padding-right: 5px;
}

#contact .wave {
  height: 85vh;
}

#contact {
  height: 85vh;
  position: relative;
  display: block;
  text-align: center;
  overflow-y: hidden;
}

#contact .wave-end {
  height: 80vh;
  z-index: 5;
  margin: 0;
}

.wave-end {
  transform: rotate(180deg);
  left: 0;
}

.contact-form {
  margin: 0;
  position: absolute;
  max-width: 550px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact button {
  padding: 10px 15px;
  color: #ff2f00;
  border-color: #ff2f00;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  margin: 0 auto 10px auto;
}

.submitted {
  color: #ff2f00;
}

.form-input {
  /* border: 1px solid rgba(252, 252, 252, 0.651); */
  background-color: rgba(252, 252, 252, 0.1);
  border-radius: 3px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

/* .users-track {
  background-color: rgba(202, 60, 38, 0.438);
} */

/* TRACKING */
.wave-track {
  height: 45vh;
  z-index: 5;
  margin: 0;
  transform: rotate(180deg);
  left: 0;

}


.intro-track {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  padding-left: 7%;
  padding-right: 5%;
  width: 60%;
}

#section-1 {
  padding-top: 0px;
  margin-top: 0px;
  background-color: transparent;
  width: 100%;
  z-index: 0;
  overflow-x: hidden;

}

.tracking-img {
  transform: scale(6);

}


#section-1 .section-1-card {
  background-color: rgba(0, 0, 0, 0.02);
  /* rgba(89, 89, 79, 0.104); */
  border: 0.5px solid #ff2f00;
  border-bottom: 4px solid #ff2f00;
  position: relative;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  box-shadow: 0 0 0.1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s; 
  transition-property: box-shadow, transform;

}

.section-1-card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.02);
   -webkit-transform: scale(1.05); 
   transform: scale(1.05); 

}

.section-1-info {
  color: rgb(74, 74, 74);
  /* color: white; */
  text-align: left;
  font-weight: 500;
  font-size: 16px;  

}


.title-track{
    margin-top: 50px;
}

a.batch-track {
  text-decoration: none;
  color: #919EAB;
}

a.batch-track:hover, a.batch-track:focus {
  text-decoration: none;
  color: #DFE3E8;
}


.track-btn {
  margin-top: 10px;
  position: relative;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  background: none;
  color: #919EAB;
  border-radius: 5px;
  text-transform: uppercase;
  outline: 0;
  z-index: 1;
}

.track-btn:hover {
  color: #DFE3E8;
}

.track-btn::before {
  content: "";
  position: absolute;
  background: #13686e58;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

.track-btn:hover::before {
  right: 0;
}

a.user-link  {
  text-decoration: none;
  /* color: #637381; */
  color: #161C24  ;

}
a.user-link:focus, a.user-link:hover {
  text-decoration: underline;

  color: #ff2f00;
}


a.mail-track  {
  text-decoration: none;
  /* color: #637381; */
  color: #161C24  ;

}
a.mail-track:focus, a.mail-track:hover {
  text-decoration: underline;
  color: #ff2f00;
}

.widget {
  /* margin-top: 10px; */
  position: relative;
  /* padding: 10px 20px; */
  font-weight: 900;
  font-size: 12px;
  /* letter-spacing: 1px; */
  background: none;
  /* color: #919EAB; */
  color: #ff2f00;
  border-radius: 5px;
  text-transform: uppercase;
  /* outline: 0; */
  z-index: 1;
}

.widget:hover {
  /* color: #DFE3E8; */
  color: #042A2B
}

.widget::before {
  content: "";
  /* background abs relative to action-btn */
  position: absolute;
  background: #cdd5dd4d;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

.widget:hover::before {
  right: 0;
}

.form-btn {
  /* margin-top: 10px; */
  position: relative;
  /* padding: 10px 20px; */
  font-weight: 900;
  font-size: 12px;
  /* letter-spacing: 1px; */
  background: #042A2B;
  /* color: #919EAB; */
  /* color: #ff2f00; */
  color: #DFE3E8;
  border-radius: 5px;
  text-transform: uppercase;
  /* outline: 0; */
  z-index: 1;
}

.form-btn:hover {
  /* color: #DFE3E8; */
  /* color: #042A2B */
  background: #163d34;
  /* color: #ff2f00; */
}

.form-btn::before {
  content: "";
  /* background abs relative to action-btn */
  position: absolute;
  background: #bbd2e92c;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

.form-btn:hover::before {
  right: 0;
}

.map-btn {
  margin-top: 5px;
  position: relative;
  padding: 5px 10px;
  font-weight: 900;
  /* font-size: 16px; */
  /* letter-spacing: 2px; */
  background: none;
  color: #ff2f00;
  /* #919EAB; */
  border-radius: 5px;
  text-transform: uppercase;
  outline: 0;
  z-index: 1;
}

.map-btn:hover {
  color: #DFE3E8;
}

.map-btn::before {
  content: "";
  /* background abs relative to action-btn */
  position: absolute;
  background: #ff2f00;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

.map-btn:hover::before {
  right: 0;
}

.inner-map-btn {
  margin-top: 0px;
  position: relative;
  padding: 4px 8px;
  font-weight: 700;
  /* font-size: 16px; */
  /* letter-spacing: 2px; */
  background: white;
  color: #919EAB;
  /* #ff2f00; */
  /* #919EAB; */
  border-radius: 5px;
  text-transform: uppercase; 
  outline: 0;
  z-index: 1;
}

.inner-map-btn:hover {
  color: #DFE3E8;
}

.inner-map-btn::before {
  content: "";
  /* background abs relative to action-btn */
  position: absolute;
  background: #ff2f00;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

.inner-map-btn:hover::before {
  right: 0;
}

/* a.my-batch {
  text-decoration: none;
  color: #042A2B;
}

a.my-batch:hover, a.my-batch:focus {
  text-decoration: none;
  color: #919EAB;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


