.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 0.7rem;
  width: 100%;
  color: #000;
}

.map {
  width: 100%;
  height: 50vh;
}

/* .comboPopover {
  position: absolute;
  z-index: 10;
  color: #e0ee
} */

.nav-link {
  color: #ff2f00;
  
}

a.link-logo  {
  text-decoration: none;
}
a.link-logo:focus, a.link-logo:hover {
  text-decoration: underline;
  color: #ff2f00;
}


#who-we-are .wave {
  height: 75vh;
  z-index: 5;
  margin: 0;
}


.intro {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  padding-left: 7%;
  padding-right: 5%;
  width: 60%;
}
.wave {
  transform: rotate(180deg);
  left: 0;
}

a.link-home  {
  text-decoration: underline;
  color: #919EAB;
}
a.link-home:focus, a.link-home:hover {
  text-decoration: none;
  color: #DFE3E8;
}

#action-btn {
  margin-top: 10px;
  position: relative;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  background: none;
  color: #919EAB;
  border-radius: 5px;
  text-transform: uppercase;
  outline: 0;
  z-index: 1;
}

#action-btn:hover {
  color: #DFE3E8;
}

#action-btn::before {
  content: "";
  /* background abs relative to action-btn */
  position: absolute;
  background: #ff2f00;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

#action-btn:hover::before {
  right: 0;
}

#who-we-are,
#about,
#contact,
#details {
  /* background-color: rgba(0, 0, 0, 0.01); */
  background-color: transparent;
  /* position: relative; */
  width: 100%;
  z-index: 0;
  /* font-family: "Roboto", sans-serif; */
  overflow-x: hidden;
}
/* #home,
#contact {
  color: white;
} */

#about {
  mix-blend-mode: multiply;
}
#about h6 {
  padding: 40px 0px 50px;
  color: #042a2b;
  /* color: #ed003f; */
}

#about .about-card {
  background-color: rgba(0, 0, 0, 0.02);
  border: 0.5px solid #ff2f00;
  border-bottom: 4px solid #ff2f00;
  position: relative;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 0 0.1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  transition-prope#212B36rty: box-shadow, transform;
}

.about-card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  /* text-decoration: none !important; */
}

.about-info {
  color: rgb(81, 84, 88);
}

.spanInfo {
  color: #ff2f00;
  padding-left: 5px;
  padding-right: 5px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


